{{> head}}


    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores deserunt soluta odio sapiente error, labore vitae eum, facere est molestiae culpa numquam atque. Ea maxime harum sequi et labore voluptates.</h1>
        </div>

        <div class="col-4">
            <img src="./assets/img/imagenCorriendo.jpg" class="img-thumbnail" alt="">
        </div>
    </div>
        



    {{> footer}}