{{> head}}


    {{> navbar}}


    <div class="jumbotron">
        <h2>hola , {{ capitalizar nombre}}</h2>
        <img src="./assets/img/imagenCorriendo.jpg" class="img-fluid" alt="">
    </div>



    {{> footer}}